In [93]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [94]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1465,tt0405469,80000000,37384046,The Wild,Kiefer Sutherland|Jim Belushi|Eddie Izzard|Jan...,Steve 'Spaz' Williams,"The Circle Of Life, meets the big apple.",An adolescent lion is accidentally shipped fro...,94,Family|Animation,Walt Disney Pictures|Contrafilm|C.O.R.E. Featu...,3/6/2006,5.2,2006
1367,tt0355295,88000000,105316267,The Brothers Grimm,Heath Ledger|Matt Damon|Mackenzie Crook|Roger ...,Terry Gilliam,Eliminating Evil Since 1812.,"Folklore collectors and con artists, Jake and ...",118,Adventure|Fantasy|Action|Comedy|Thriller,The Weinstein Company|Summit Entertainment|Atl...,8/25/2005,5.4,2005
567,tt0278488,12000000,31155435,How High,Method Man|Redman|Obba BabatundÃ©|Mike Epps|An...,Jesse Dylan,They've got their degrees all rolled up.,Multi-platinum rap superstars Redman and Metho...,93,Comedy,Universal Pictures|Jersey Films|Native Picture...,12/21/2001,6.5,2001
1009,tt1748122,16000000,68263166,Moonrise Kingdom,Bruce Willis|Edward Norton|Jared Gilman|Kara H...,Wes Anderson,A tormenting and surprising story of children ...,Set on an island off the coast of New England ...,94,Comedy|Drama|Romance,Scott Rudin Productions|Indian Paintbrush|Amer...,5/16/2012,7.6,2012
1359,tt0443536,15000000,51053787,Hoodwinked!,Anne Hathaway|Glenn Close|Jim Belushi|Patrick ...,Cory Edwards|Todd Edwards|Tony Leech,Armed And Dangerously Dumb.,The recipes of candies of the goody shops have...,80,Animation|Comedy|Family,The Weinstein Company|Kanbar Entertainment|Blu...,12/16/2005,6.0,2005

In [95]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [96]:
# в конце можно посмотреть свои ответы к каждому вопросу

# Предобработка

In [97]:
answers = {} # создадим словарь для ответов

def get_month(date):
    calendar = {
        '1' : 'Январь',
        '2' : 'Февраль',
        '3' : 'Март',
        '4' : 'Апрель',
        '5' : 'Май',
        '6' : 'Июнь',
        '7' : 'Июль',
        '8' : 'Август',
        '9' : 'Сентябрь',
        '10' : 'Октябрь',
        '11' : 'Ноябрь',
        '12' : 'Декабрь',
    }
    return calendar[date.split('/')[0]]


data['profit'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
data['release_month'] = data.release_date.apply(get_month)
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [98]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' #+

In [99]:
max_budget = data.sort_values('budget', ascending=False).head(1).original_title

ВАРИАНТ 2

In [100]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [101]:
answers['2'] = 'Gods and Generals' #+

In [102]:
max_runtime = data.sort_values('runtime', ascending=False).head(1).original_title

# 3. Какой из фильмов самый короткий (в минутах)?

In [103]:
answers['3'] = 'Winnie the Pooh' #+
min_runtime = data.sort_values('runtime', ascending=True).head(1).original_title

# 4. Какова средняя длительность фильмов?

In [104]:
answers['4'] = '110' #+
runtime_mean = data.runtime.agg(['mean'])

# 5. Каково медианное значение длительности фильмов?

In [105]:
answers['5'] = '107.0' #+
runtime_median = data.runtime.agg(['median'])

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [106]:
answers['6'] = 'Avatar' #+
max_profit = data.sort_values('profit', ascending=False).head(1).original_title

# 7. Какой фильм самый убыточный?

In [107]:
answers['7'] = 'The Lone Ranger' #+
min_profit = data.sort_values('profit', ascending=True).head(1).original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [108]:
answers['8'] = '1478' #+
answer_8 = data.copy() 
answer_8 = answer_8.query('profit > 0').count().imdb_id

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [109]:
answers['9'] = 'The Dark Knight' #+
answer_9 = data.copy()
answer_9 = answer_9.query('release_year == 2008' ).sort_values('profit', ascending=False).head(1).original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [110]:
answers['10'] = 'The Lone Ranger' #+
answer_10 = data.copy()
answer_10 = answer_10.query('release_year >= 2012 & release_year <= 2014' ).sort_values('profit', ascending=True).head(1).original_title

# 11. Какого жанра фильмов больше всего?

In [111]:
answers['11'] = 'Drama' #+
answer_11 = data.copy()
answer_11['genres'] = answer_11.genres.str.split('|')
answer_11 = answer_11.explode('genres')
answer_11 = data.genres.value_counts().head(1)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [112]:
answers['12'] = 'Drama' #+
answer_12 = data.copy()
answer_12['genres'] = answer_12.query('profit > 0').genres.str.split('|')
answer_12 = answer_12.explode('genres')

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [113]:
answers['13'] = 'Peter Jackson' #+
answer_13 = data.copy()
answer_13['director'] = answer_13.director.str.split('|')
answer_13 = answer_13.explode('director')
answer_13 = answer_13.groupby('director').sum().sort_values('profit', ascending=False).head(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
answers['14'] = 'Robert Rodriguez' #+
answer_14 = data.copy()
answer_14['genres'] = answer_14.genres.str.split('|')
answer_14 = answer_14.explode('genres')
answer_14 = answer_14.query('genres == "Action"')
answer_14['director'] = answer_14.director.str.split('|')
answer_14 = answer_14.explode('director')
answer_14 = answer_14.groupby('director').count().sort_values('imdb_id', ascending=False).head(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [115]:
answers['15'] = 'Chris Hemsworth' #+
answer_15 = data.copy()
answer_15 = answer_15.query('release_year == 2012')
answer_15['cast'] = answer_15.cast.str.split('|')
answer_15 = answer_15.explode('cast')
answer_15 = answer_15.groupby('cast')
answer_15 = answer_15.sum().sort_values('profit', ascending=False).head(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [116]:
answers['16'] = 'Matt Damon' #+
answer_16 = data.copy()
mean = answer_16.budget.mean()
answer_16 = answer_16.query('budget > ' + str(mean))
answer_16['cast'] = answer_16.cast.str.split('|')
answer_16 = answer_16.explode('cast')
answer_16 = answer_16.groupby('cast').count().sort_values('imdb_id', ascending=False).head(1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [117]:
answers['17'] = 'Action' #+
answer_17 = data.copy()
answer_17['cast'] = answer_17.cast.str.split('|')
answer_17 = answer_17.explode('cast')
answer_17 = answer_17.query('cast == "Nicolas Cage"')
answer_17['genres'] = answer_17.genres.str.split('|')
answer_17 = answer_17.explode('genres').groupby('genres')
answer_17 = answer_17.count().sort_values('imdb_id', ascending=False).head(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [118]:
answers['18'] = 'K-19: The Widowmaker' #+
answer_18 = data.copy()
answer_18['production_companies'] = answer_18.production_companies.str.split('|')
answer_18 = answer_18.explode('production_companies')
answer_18 = answer_18.query('production_companies == "Paramount Pictures"')
answer_18 = answer_18.sort_values('profit', ascending=True).head(1).original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [119]:
answers['19'] = '2015' #+
answer_19 = data.copy()
answer_19 = answer_19.groupby('release_year')
answer_19 = answer_19.sum().sort_values('profit', ascending=False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [120]:
answers['20'] = '2014' #+
answer_20 = data.copy()
answer_20['production_companies'] = answer_20.production_companies.str.split('|')
answer_20 = answer_20.explode('production_companies')
answer_20 = answer_20[answer_20.production_companies.str.contains('Warner Bros')]
answer_20 = answer_20.groupby('release_year')
answer_20 = answer_20.sum().sort_values('profit', ascending=False).head(1)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [121]:
answers['21'] = 'Сентябрь' #+
answer_21 = data.copy()
answer_21 = answer_21.groupby('release_month')
answer_21 = answer_21.count().sort_values('imdb_id', ascending=False).head(1)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [122]:
answers['22'] = '450' #+
answer_22 = data.copy()
answer_22 = answer_22.groupby('release_month')
answer_22 = answer_22.get_group('Июнь').count() + answer_22.get_group('Июль').count() + answer_22.get_group('Август').count()
answer_22 = answer_22.imdb_id

# 23. Для какого режиссера зима – самое продуктивное время года?

In [123]:
answers['23'] = 'Peter Jackson' #+
answer_22 = data.copy()
answer_22 = answer_22.query('release_month == "Январь" | release_month == "Декабрь" | release_month == "Февраль"')
answer_22['director'] = answer_22.director.str.split('|')
answer_22 = answer_22.explode('director')
answer_22 = answer_22.groupby('director').count().sort_values('imdb_id', ascending=False).head(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [124]:
answers['24'] = 'Four By Two Productions'
answer_24 = data.copy()
answer_24['original_title'] = answer_24.original_title.apply(lambda x: len(x))
answer_24['production_companies'] = answer_24.production_companies.str.split('|')
answer_24 = answer_24.explode('production_companies')
answer_24 = answer_24.groupby('production_companies').mean().sort_values('original_title', ascending=False).head(1)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [125]:
answers['25'] = 'Midnight Picture Show' #+
answer_25 = data.copy()
answer_25['overview'] = answer_25.overview.str.split(' ').str.len()
answer_25['production_companies'] = answer_25.production_companies.str.split('|')
answer_25 = answer_25.explode('production_companies')
answer = answer_25.groupby('production_companies').mean().sort_values('overview', ascending=False).head(1)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [126]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+
answer_26 = data.copy() 
persents = np.percentile(answer_26.vote_average, 99)
answer_26 = answer_26[answer_26.vote_average >= persents].sort_values(by='vote_average', ascending=False)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [127]:
answers['27'] = '(Daniel Radcliffe, Rupert Grint)' #+
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')                                            
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(combinations(sorted(x), 2)))
cast_pairs = cast_pairs.explode('cast').cast.value_counts()

ВАРИАНТ 2

# Submission

In [128]:
# и убедиться что ни чего не пропустил)
len(answers)

27